### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
T_players = len(purchase_data['SN'].unique())
T_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
df=purchase_data
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
Items= len(df['Item ID'].unique())
Items

179

In [5]:
P_avg = df['Price'].mean()
P_avg

3.050987179487176

In [6]:
T_purchase =df['Purchase ID'].count()
T_purchase

780

In [7]:
T_Revenue = df['Price'].sum()
T_Revenue

2379.77

In [32]:
summ_df = pd.DataFrame({"Number of Unique Items":[Items],
                           "Average Price":[P_avg], 
                           "Number of Purchases": [T_purchase], 
                           "Total Revenue": [T_Revenue]})
summ_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
male_p = df.loc[df["Gender"] == "Male"]
T_male_p = len(male_p['SN'].unique())
                     
T_male_p

484

In [9]:
female_p = df.loc[df["Gender"] == "Female"]
T_female_p= len(female_p['SN'].unique())
T_female_p

81

In [10]:
other_nd = df.loc[df["Gender"]== "Other / Non-Disclosed"]
other_p = len(other_nd)
other_p

15

In [34]:
Percent_m= (T_male_p)/T_players *100
Percent_m

84.02777777777779

In [36]:
Percent_f= (T_female_p)/T_players *100
Percent_f

14.0625

In [37]:
Percent_o= (other_p)/T_players *100
Percent_o

2.604166666666667


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [57]:
Gen_PA = df.groupby("Gender")

P_count= Gen_PA["Purchase ID"].count()
Avg_price= Gen_PA["Price"].mean()
TPV= Gen_PA["Price"].sum()
Value_per_g= (TPV/T_players)

summary_df = pd.DataFrame([P_count, Avg_price, TPV, Value_per_g])
summary_dfm.columns = ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total per Person"]
                      
print (summary_dfm)

                       Purchase Count  Average Purchase Price  \
Gender
Female                          113.0                3.203009
Male                            652.0                3.017853
Other / Non-Disclosed            15.0                3.346000

                       Total Purchase Value  Avg Total per Person
Gender
Female                               361.94              0.628368
Male                                1967.64              3.416042
Other / Non-Disclosed                 50.19              0.087135

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [64]:
bins= [0,9, 14, 19, 24, 29, 34, 39, 150]
my_bins= ['0','<10', '10-14', '15-19', '20-24', '25-29', '30-39', '40+']

df["Age Group"] = pd.cut(df["Age"],bins, labels=my_bins)
#df
group_age = df.groupby("Age Group")
T_count_age = group_age["SN"].nunique()
percent_by_age = (T_count_age/T_players) * 100

# Create a summary data frame to hold the results
age_demo = pd.DataFrame({"Percentage of Players": percent_by_age, 
                                 "Total Count": T_count_age})
                                                                            
age_demo

           Percentage of Players  Total Count
Age Group
0                       2.951389           17
<10                     3.819444           22
10-14                  18.576389          107
15-19                  44.791667          258
20-24                  13.368056           77
25-29                   9.027778           52
30-39                   5.381944           31
40+                     2.083333           12

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [68]:
purch_count = group_age["Purchase ID"].count()

#average purchase price  
avgpur_age = group_age["Price"].mean()

#total purchase value 
T_pur_val = group_age["Price"].sum()

#average purchase per person in the age group 
avg_pur_person_age = T_pur_val/T_count_age

#summary data frame 
age_demo = pd.DataFrame({"Purchase Count": purch_count,
                                 "Average Purchase Price": avgpur_age,
                                 "Total Purchase Value":T_pur_val,
                                 "Average Purchase Total per Person": avg_pur_person_age})
age_demo

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person
Age Group,,,,
0,23,3.353478,77.13,4.537059
<10,28,2.956429,82.78,3.762727
10-14,136,3.035956,412.89,3.858785
15-19,365,3.052219,1114.06,4.318062
20-24,101,2.900990,293.00,3.805195
25-29,73,2.931507,214.00,4.115385
30-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame