### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [163]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [164]:
T_players = len(purchase_data['SN'].unique())
T_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [165]:
df=purchase_data
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [166]:
Items= len(df['Item ID'].unique())
Items

179

In [167]:
P_avg = df['Price'].mean()
P_avg

3.050987179487176

In [168]:
T_purchase =df['Purchase ID'].count()
T_purchase

780

In [169]:
T_Revenue = df['Price'].sum()
T_Revenue

2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [170]:
male_p = df.loc[df["Gender"] == "Male"]
T_male_p = len(male_p['SN'].unique())
                     
T_male_p

484

In [171]:
female_p = df.loc[df["Gender"] == "Female"]
T_female_p= len(female_p['SN'].unique())
T_female_p

81

In [172]:
other_nd = df.loc[df["Gender"]== "Other / Non-Disclosed"]
other_p = len(other_nd)
other_p

15

In [173]:
#Player_info= {"Total":{"Female":T_Female_p,"Male": T_male_p, "Other/Non-Disclosed":other_p},
#"Percentage":{"Female":"{:.2%}".format(T_Female_p/Player_info),"Male":"{:.2%}".format(T_male_p/Player_info),
#"Other/Non-Disclosed":"{:.2%}".format(other_p/Player_info)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [183]:
Gen_PA = df.groupby("Gender")
Gen_PA
P_count= round(Gen_PA["Purchase ID"].count(),0)
Avg_price= round(Gen_PA["Price"].mean(),2)
TPV= round (Gen_PA["Price"].sum(),2)
Value_per_g= round(TPV/576,2)

summary_df = pd.DataFrame([P_count, Avg_price, TPV, Value_per_g])
summary_dfm= summary_df.T
summary_dfm.columns = ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total per Person"]
                      
    
print (summary_dfm)

                       Purchase Count  Average Purchase Price  \
Gender
Female                          113.0                    3.20
Male                            652.0                    3.02
Other / Non-Disclosed            15.0                    3.35

                       Total Purchase Value  Avg Total per Person
Gender
Female                               361.94                  0.63
Male                                1967.64                  3.42
Other / Non-Disclosed                 50.19                  0.09

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame